.logo {
  @include flexBox(row, center, space-around);
  height: 300px;
  width: 100%;
  background-color: rgb(216, 216, 216);
  display: block;
  a {
    display: block;
    width: 100px;
    height: 100px;
  }
  .content {
    background-color: red;
  }
}
.navMenu {
  @include flexBox(row, center, center);
  height: 100px;
  width: 100%;
  background-color: black;
  a {
    color: white;
    font-size: 20px;
    padding: 10px;
  }
}
.footer {
  @include flexBox(row, center, center);
  color: white;
  height: 100%;
  width: 100%;
  padding: 50px;
  background-color: black;
}
