.hero-header {
  height: 400px;
  width: 100%;
  //background-image: linear-gradient(rgba(37, 37, 37, 0.767), rgba(255, 254, 254, 0)), url("./img/header/heromario_2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  //&:hover{
  //background-image: linear-gradient(rgba(20, 20, 20, 0.767), rgba(56, 56, 56, 0.486)), url("./img/header/heromario_2.jpg");
  //background-size: cover;
  //background-repeat: no-repeat;
}

.hero-picture {
  @include flexBox(column, center, space-around);
  text-align: center;
  color: white;
  background-image:linear-gradient($color-secondary,rgba(0, 0, 0, 0));
  background-size: 100%;
  height: 100%;

  .hero-Text{
    width: 100%;
    height: 100%;
    a{
      color: white;
    }
    padding: 40px;
    border-radius: 20px;
    h2 {
      margin-top: 20px;
      font-size: 3.5rem;
    }
    p {
      font-size: 1.5rem;
      font-weight: bold;
    }
    .header-link{
      background-color: purple;
      height: 100%;
      width: 100%;
    
      h1{
      font-family: 'Nunito', sans-serif;
      width: 100%;
      display: block;
      color: white;
      font-weight:lighter;
      letter-spacing: 5px;
     }
    }
  }
  .click-Here{
    margin-top: 80px;
  }
}
.logo-Div{
  a{
    color: white;
  }

  .logo {
    @include flexBox(row, center, space-around);
    display: block;
    width: 100%;
    height: 100%;
  }
  @include flexBox(row, center, flex-start);
  background-color:$color-secondary;
  width: 100%;
  .fa-brands{
    color: white;
  }
}

.content {
  background-color: red;
}

.navigation-wrapper {
  display: flex;
  .navMenu {
    @include flexBox(row, center, space-evenly);
    width: 100%;
    padding: 40px;
    background-color: rgb(255, 255, 255);
    .navigation-shoppingcart {
      position: relative;
      margin-left: 10%;
      .items-in-shoppingcart {
        user-select: none;
        position: absolute;
        right: -20px;
        top:-10px;
        
        font-weight: bolder;
        font-size: 25px;
        color: rgb(255, 255, 255);
        background-color: rgb(255, 93, 93);
        border-radius: 100%;
        padding: 3px 12px 3px 12px;
        font-family: Arial, sans-serif;
      }
    }
    .fa-braille {
      font-size: 2.5rem;
      color: rgb(104, 104, 104);
      padding: 20px;
    }
    .fa-mobile-screen-button {
      font-size: 2.5rem;
      color: rgb(0, 69, 173);
      padding: 20px;

    }
    .fa-laptop {
      font-size: 2.5rem;
      color: rgb(11, 109, 255);
      padding: 20px;
    }
    .fa-xbox {
      font-size: 2.5rem;
      color: rgb(1, 152, 212);
      padding: 20px;
    }
    .fa-gamepad {
      font-size: 2.5rem;
      color: rgb(0, 167, 159);
      padding: 20px;
    }
    .fa-cart-shopping {
      font-size: 2.5rem;
      color: rgb(104, 104, 104);
      padding: 20px;
    }
    .logo, #logoTextFont, a{
      font-family: 'Nunito', sans-serif
      !important;
      color: rgb(255, 255, 255);
    }
    a {
      @include flexBox(row, center, space-around);
      color: white;
    }
    .selected{
      border-bottom:solid rgb(190, 190, 190) 4px;
    }
  }
}
.footer {
  @include flexBox(column, center, space-evenly);
  padding:100px;
  background-color: $color-secondary;


  .footer-title{
    color: white;
    text-decoration: underline;
    font-size: 40px;
    margin-bottom:40px;
  }
  .social-Media-Icons{
    @include flexBox(row, center, space-evenly);
    width: 100%;
  }

  .facebook-icon {
    @include flexBox(row, center, center);
    background-color: rgb(61, 106, 255);
    border-radius: 50%;
    font-size: 2.5rem;
    height: 4.5rem;
    width: 4.5rem;
    color: rgb(255, 255, 255);
  }
  .twitter-icon {
    @include flexBox(row, center, center);
    background-color: rgb(62, 130, 185);
    border-radius: 50%;
    font-size: 2.5rem;
    height: 4.5rem;
    width: 4.5rem;
    color: rgb(255, 255, 255);
  }
  .instagram-icon {
    @include flexBox(row, center, center);
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    border-radius: 50%;
    font-size: 2.5rem;
    height: 4.5rem;
    width: 4.5rem;
    color: rgb(255, 255, 255);
  }
  a {
    display: block;
  }
}
