@media only screen and (max-width: 550px){
  #navIconsContainer{
    display: none;
  }
  #hamburger{
    display: block;
  }
}

.mobileNav{
  @include flexBox(column, center, space-around);
  z-index:1;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color:  $color-white;
  h2{
    color:grey;
  }


  a{
    @include flexBox(column, center, center);
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
    .fa-braille{
      color: rgb(104, 104, 104);
      display: block;
    }
    .fa-mobile-screen-button{
      color: $color-primary;
    }
    .fa-laptop{
      display: block;
      color: $color-primary;
    }
    .fa-xbox{
      color: $color-primary;
    }
    .fa-gamepad{
      color: $color-primary;
    }
  }
}

.hamburger{
  cursor: pointer;
}

.fa-bars{
  color:rgb(104, 104, 104);
  &:hover{
    color:rgb(75, 75, 75);
   }
}

.hide{
  display: none;
}