.productsList {
  @include flexBox(column, center, space-around);
  width: 100%;
  background-color: white;
}
.products-List-Head {
  @include flexBox(row, center, space-around);
  color: white;
  background-color: $color-primary;
  flex-wrap: wrap;
  padding: 30px;
  font-size: 30px;
  width: 100%;
  text-align: center;
  
  @media only screen and (max-width: 460px) {
    padding: 0px;
  }
  @media only screen and (max-width: 550px) {
    font-size: 15px;
  }
  h2 {
    display: block;
    flex: 1;
  }
  .search-Div {
    @include flexBox(row, center, space-around);
    height: 50px;
    width: 400px;
    flex: 1;
    @media only screen and (max-width: 550px) {
      flex-direction: column;
      width: 100%;
    }
    .search-field {
      display: block;
      font-size: 20px;
      padding: 20px;
      height: 90%;
      width: 60%;
      border-radius: 10px;
      border: none;
      @media only screen and (max-width: 550px) {
        height: 40px;
      }
      @media only screen and (max-width: 460px) {
        height: 30px;
        font-size: 15px;
      }
      @media only screen and (max-width: 260px) {
        padding: 5px;
        font-size: 10px;
      }
    }
    button {
      @include flexBox(row, center, space-around);
      border-radius: 10px;
      font-weight: bold;
      font-size: 20px;
      color: white;
      height: 90%;
      width: 100px;
      background-color: $color-secondary;
      @media only screen and (max-width: 460px) {
        height: 30px;
        font-size: 15px;
      }
      &:hover {
        cursor: pointer;
        background-color: white;
        color: black;
      }
    }
  }
}
.products-List-Main {
  @include flexBox(row, center, space-evenly);
  flex-wrap: wrap;
  width: 100%;
  padding: 40px;
  @media only screen and (max-width: 550px) {
    padding: 0px;
  }
}

.productCard {
  @include flexBox(column, center, flex-end);
  margin-bottom: 30px;
  border: solid rgb(206, 206, 206) 1px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  height: 600px;
  color: rgb(0, 0, 0);
  width: 500px;
  @media only screen and (max-width: 260px) {
    height: 400px;
  }
  @media only screen and (max-width: 550px) {
    width: 100%;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 0px;
    border-radius: 0px;
  }
  h2 {
    font-size: 30px;
    text-align: center;
    padding: 20px;
    color: black;
  }
  .clickableProductCard {
    @include flexBox(column, center, flex-end);
    border-radius: 10px;
    display: block;
    height: 100%;
    width: 100%;

    a {
      display: block;
    }
  }
  .image {
    border-radius: 10px;
    height: 100%;
    width: 100%;
  }
  .product-Footer {
    @include flexBox(row, center, center);
    padding: 20px;
    width: 100%;
    @media only screen and (max-width: 550px) {
      padding: 0px;
      flex-direction: column;
     
    }

    .priceContainer {
      color: white;
      background-color: $color-primary;
      padding: 30px;
      text-align: center;
      font-weight: bold;
      font-size: 20px;
      border-radius: 10px 0px 0px 10px;
      @media only screen and (max-width: 550px) {
        border-radius:0px 0px 0px 0px;
        width: 100%;
      }
      @media only screen and (max-width: 260px) {
        font-size: 15px;
      }
    }
    .buy-Now-Button {
      cursor: pointer;
      text-align: center;
      font-weight: bold;
      font-size: 30px;
      color: white;
      display: block;
      padding: 30px;
      background-color: $color-secondary;
      font-size: 20px;
      border-radius: 0px 10px 10px 0px;
      @media only screen and (max-width: 260px) {
        font-size: 15px;
      }
      @media only screen and (max-width: 550px) {
        border-radius:0px 0px 0px 0px;
        width: 100%;
      }

      &:hover {
        background-color: $color-grey;
      }
      &:active {
        transform: translateY(2px);
      }
    }
  }
}



.category-Heading {
  color: white;
  font-size: 30px;
  text-align: center;
  background-color: $color-primary;
  padding: 30px;
  @media only screen and (max-width: 550px) {
    font-size: 25px;
  }
  @media only screen and (max-width: 260px) {
    font-size: 20px;
  }
}
.categories-Container {
  @include flexBox(row, center, space-around);
  flex-wrap: wrap;
  width: 100%;
  padding: 20px;
  .category-Description {
    a {
      height: 100%;
      width: 100%;
    }
    @include flexBox(column, center, space-evenly);
    display: block;
    font-size: 20px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    &:hover {
      background-color: rgb(233, 241, 255);
    }

    h3 {
      text-align: center;
    }
    .description-Content {
      text-align: center;
      padding: 20px;
      .fa-solid {
        color: $color-primary;
        @media only screen and (max-width: 550px) {
          font-size: 50px;
        }
        @media only screen and (max-width: 260px) {
          font-size: 40px;
        }
      }
      .fa-brands {
        color: $color-primary;
        @media only screen and (max-width: 550px) {
          font-size: 50px;
        }
        @media only screen and (max-width: 260px) {
          font-size: 40px;
        }
      }
    }
  }
}

@media only screen and (max-width: 460px) {
  .products-List-Head {
    @include flexBox(row, center, center);
    padding: 10px;
    font-size: 20px;
  }
  .productCard {
    h2 {
      font-size: 20px;
    }
  }
  .product-Footer {
    flex-wrap: wrap;

    .priceContainer {
      flex: 1;
    }
    .buy-Now-Button {
      width: 100%;
    }
  }
  .image {
    height: 200px;
    width: 200px;
  }
}
