



.productsList{
  @include flexBox(column, center, space-around);
  width: 100%;
  background-color:white;
}
.products-List-Head{
  @include flexBox(row, center, space-around);
  color: white;
  background-color: $color-primary;
  flex-wrap: wrap;
  padding:30px;
  font-size: 30px;
  width: 100%;
  text-align: center;
  h2{
    display:block;
    flex:1;
  }
}
.products-List-Main{
  @include flexBox(row, center, space-evenly);
  flex-wrap: wrap;
  width: 100%;
  padding:40px;
}

.productCard{
  @include flexBox(column, center, flex-end);
  margin-bottom: 30px;
  border: solid rgb(216, 216, 216) 2px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  height: 600px;
  color: rgb(0, 0, 0);
  width:500px;
  h2{
    font-size: 30px;
    text-align: center;
    padding:20px;
    color: black;
  }
  .clickableProductCard{
    @include flexBox(column, center, flex-end);
    border-radius: 10px;
    display: block;
    height: 100%;
    width:100%;
  
    a{
      display: block;
    }
  }
  .image{
    border-radius: 10px;
    height: 100%;
    width: 100%;
  
 
  }
  .product-Footer{
    @include flexBox(row, center, center);
    padding: 20px;
    width: 100%;
    height: 300px;
    border-radius: 20px;
 
  .priceContainer{
    color: white;
    background-color:$color-primary;
    padding: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
  }
  .buy-Now-Button{
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color:white;
    display: block;
    padding:20px;
    background-color: $color-secondary;
    font-size: 20px;
  }
 }
}

.search-Div{
  @include flexBox(row, center, space-around);
  height: 50px;
  width: 400px;
  flex:1;
  .search-field{
    display: block;
    font-size: 20px;
    padding:20px;
    height: 90%;
    width: 60%;
    border-radius: 10px;
    border:none;
  }
  button{
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    color:white;
    height: 90%;
    width:100px;
    background-color: $color-secondary;
    &:hover{
      cursor: pointer;
      background-color: white;
      color: black;
    }
  }
}

.category-Heading{
  color:white;
  font-size: 30px;
  text-align: center;
  background-color: $color-primary;
  padding:30px;
}
.categories-Container{
  @include flexBox(row, center, space-around);
  flex-wrap: wrap;
  width: 100%;
  padding:20px;
  .category-Description{
    a{
      height: 100%;
      width: 100%;
    }
    @include flexBox(column, center, space-evenly);
    display: block;
    font-size: 20px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 20px;
    padding:20px;
    &:hover{
      background-color: rgb(233, 241, 255);
    }
 
   h3{
     text-align: center;
   }
   .description-Content{
    text-align: center;
     padding:20px;
     .fa-solid{
      color: $color-primary;
     }
     .fa-brands{
      color: $color-primary;
     }
   }
  }
}




@media only screen and (max-width: 460px){
  .products-List-Head{
    @include flexBox(row, center, center);
    padding: 10px;
    font-size: 20px;

}

.product-Footer{
  @include flexBox(row, center, center);
  flex-wrap: wrap;

  .buy-Now-Button{
    flex: 1;
  }
  .priceContainer{
    flex: 1;
  }
  
}


.image{
  height: 200px;
  width: 200px;
}


}