
@media only screen and (max-width: 550px){
  #shoppingCartHead{
    flex-direction: column;
    padding-bottom: 7px;
  }
  #productListHead{
    flex-direction: column;
  }
  .search-Div{
    margin-top: 9px;
    flex-direction: column;
    .search-field{
      padding: 9px;
    }
    button{
      margin-top: 9px;
      padding: 9px;
    }
  }
}

.shopping-Cart-List{
  @include flexBox(column, center, space-around);
  width: 100%;
  background-color: rgb(167, 167, 167);
}
.div-Empty-Cart{
  margin-top: 50px;
  text-align: center;
}
.hide{
  display:none;
}
.shopping-Cart-Head{
  @include flexBox(row, center, space-around);
  flex-wrap: wrap;
  font-size: 30px;
  background-color: rgb(42, 116, 255);
  color:white;
  height: 150px;
  width: 100%;
  text-align: center;
}
.shopping-Cart-Main{
  flex-wrap: wrap;
  width: 100%;
  padding:20px;
  min-height: 500px;
  background-color: white;
}
.shopping-Cart-Footer{
  @include flexBox(row, center, space-around);
  flex-wrap: wrap;
  font-size: 30px;
  height: 150px;
  width: 100%;
  text-align: center;
  background-color: white;
  .footer-Content{
    @include flexBox(row, center, space-around);
    height: 100%;
    width: 100%;
    background-color: white;
  }
  .total-Container{
    @include flexBox(row, center, space-around);
    height: 100%;
    font-weight: bold;
    .total{
      margin-left:20px;
    }
  }
    a{
      height: 100px;
      width:200px;
      z-index: 1;
      display: block;
      .order-Button{
        @include flexBox(row, center, center);
        font-size: 30px;
        display: block;
        color: white;
        background-color: rgb(42, 116, 255);
        height: 100%;
        width: 100%;
        cursor: pointer;
    }
  }
}

.product-Card-ShoppingCart{
  @include flexBox(row, center, flex-start);
  padding: 20px;
  font-size: 12px;
  background-color: white;
  width:100%;
  height: 100px;
  margin-bottom:20px;
  border-bottom: rgb(214, 214, 214) solid 2px;

  .product-ShoppingCart-Image{
    height: 100%;
    width:100px;
  }
  h3{
    @include flexBox(row, center, center);
    height: 100%;
    width: 170px;
    font-size: 17px;
    background-color: white;
  }
  .product-ShoppingCart-Price{
    p{
      margin-right:5px;
    }
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    @include flexBox(row, center, center);
    background-color: rgb(42, 116, 255);
    color: white;
    height: 100%;
    width: 200px;
  }
  .amount-Container{
    @include flexBox(row, center, center);
    font-size: 17px;
    padding:10px;
    margin-left:20px;
  }
  .button-Div{
    @include flexBox(row, center, center);
    height: 40px;
    background-color: rgb(42, 116, 255);
    width: 50px;
    margin-left:20px;
    border-radius: 10px;
    .plus-Minus-Buttons{
      border-radius: 10px;
      color: white;
      background-color: rgb(42, 116, 255);
      font-weight: bold;
      display: block;
      font-size: 20px;
      height: 100%;
      width:100%;
      cursor: pointer;
      &:hover{
        background-color: white;
        color: black;
      }
    }
  }
  
}

.trash-Can{
  color:white;
  font-size: 20px;
  @include flexBox(row, center, center);
  border-radius: 10px;
  padding:10px;
  background-color: rgb(0, 58, 167);
  .fa-trash-can{
    color:white;
    display: block;
    margin-left:10px;
  }
   a{
    height: 100%;
    width: 100%;
  }
  &:hover{
    color: rgb(42, 116, 255);
    cursor: pointer;
  }
 
 
}

@media only screen and (max-width: 500px){

  .shopping-Cart-Footer{
    .footer-Content{
      @include flexBox(column, center, space-around);
      padding-bottom: 10px;
    }
    .order-Button {
      height: 50%;
      width: 50%;
    }
  }
  .shopping-Cart-Main{
    flex-wrap: nowrap;
    
  }
  .product-Card-ShoppingCart{
    @include flexBox(column, center, space-around);
    height: 400px;
    .product-ShoppingCart-Price{
      height: 120px;
      width: 100px;
    }
    .product-ShoppingCart-Image{
      height: 100%;
      width: 200px;
    }
    h3{
      
      height: 30%;
      width: 150px;
      font-size: 20px;
    }
    .amount-Container{
      margin-left: 0px;
    }
    .button-Div{
      margin-top: 5px;
      margin-left: 0px;
    }
  }
}