* {
  font-family: 'Rajdhani', Verdana, sans-serif, serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  outline: none;
  border: none;
}

main {
  width: 100%;
}

body,
html {
  height: 100%;
}

@media only screen and (max-width: 550px) {
  #navIconsContainer {
    display: none;
  }
  #hamburger {
    display: block;
  }
}

.mobileNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: 1;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: white;
}

.mobileNav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: red;
  display: block;
  height: 100px;
  width: 100px;
  text-align: center;
}

.mobileNav a .fa-braille {
  color: white;
  display: block;
}

.mobileNav a .fa-mobile-screen-button {
  color: green;
}

.mobileNav a .fa-laptop {
  color: white;
  display: block;
}

.mobileNav a .fa-xbox {
  color: purple;
}

.mobileNav a .fa-gamepad {
  color: yellow;
}

.hamburger {
  cursor: pointer;
}

.fa-bars {
  color: #686868;
}

.hide {
  display: none;
}

.productsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  background-color: white;
}

.products-List-Head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white;
  background-color: #1b63ff;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 30px;
  font-size: 30px;
  width: 100%;
  text-align: center;
}

.products-List-Head h2 {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.products-List-Main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 40px;
}

.productCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 30px;
  border: solid #d8d8d8 2px;
  background-color: white;
  border-radius: 10px;
  color: black;
  width: 500px;
  height: 500px;
}

.productCard h2 {
  font-size: 30px;
  text-align: center;
  padding: 20px;
  color: black;
}

.productCard .clickableProductCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-radius: 10px;
  display: block;
  height: 100%;
  width: 100%;
}

.productCard .clickableProductCard a {
  display: block;
}

.productCard .image {
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

.productCard .product-Footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 20px;
  width: 100%;
  border-radius: 20px;
}

.productCard .priceContainer {
  color: white;
  background-color: #1b63ff;
  padding: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.search-Div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 50px;
  width: 400px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.search-Div .search-field {
  font-size: 20px;
  padding: 20px;
  height: 90%;
  width: 60%;
  border-radius: 10px;
  border: none;
}

.search-Div button {
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
  color: white;
  height: 90%;
  width: 100px;
  background-color: #002c7e;
}

.search-Div button:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

.category-Heading {
  color: white;
  font-size: 30px;
  text-align: center;
  background-color: #1b63ff;
  padding: 30px;
}

.categories-Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 20px;
}

.categories-Container .category-Description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  display: block;
  font-size: 20px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
}

.categories-Container .category-Description a {
  height: 100%;
  width: 100%;
}

.categories-Container .category-Description:hover {
  background-color: #e9f1ff;
}

.categories-Container .category-Description h3 {
  text-align: center;
}

.categories-Container .category-Description .description-Content {
  text-align: center;
  padding: 20px;
}

.categories-Container .category-Description .description-Content .fa-solid {
  color: #1b63ff;
}

.categories-Container .category-Description .description-Content .fa-brands {
  color: #1b63ff;
}

.buy-Now-Button {
  cursor: pointer;
  text-align: center;
  height: 100%;
  font-weight: bold;
  font-size: 30px;
  color: white;
  display: block;
  padding: 20px;
  background-color: #002c7e;
  font-size: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.hero-header {
  display: block;
  width: 100%;
  background-size: auto;
  background-position: left;
  background-repeat: no-repeat;
}

.hero-picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#002c7e), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(#002c7e, rgba(0, 0, 0, 0));
  background-size: 100%;
  height: 100%;
}

.hero-picture .hero-Text {
  width: 100%;
  height: 100%;
  padding: 40px;
  border-radius: 20px;
}

.hero-picture .hero-Text a {
  color: white;
}

.hero-picture .hero-Text h2 {
  margin-top: 20px;
  font-size: 3.5rem;
}

.hero-picture .hero-Text p {
  font-size: 1.5rem;
  font-weight: bold;
}

.hero-picture .hero-Text .header-link {
  background-color: purple;
  height: 100%;
  width: 100%;
}

.hero-picture .hero-Text .header-link h1 {
  font-family: 'Nunito', sans-serif;
  width: 100%;
  display: block;
  color: white;
  font-weight: lighter;
  letter-spacing: 5px;
}

.hero-picture .click-Here {
  margin-top: 80px;
}

.logo-Div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #002c7e;
  width: 100%;
}

.logo-Div a {
  color: white;
}

.logo-Div .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px;
  display: block;
  width: 100%;
  height: 100%;
}

.logo-Div .fa-brands {
  color: white;
}

.content {
  background-color: red;
}

.navigation-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation-wrapper .navMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  padding: 40px;
  background-color: white;
}

.navigation-wrapper .navMenu .navIconsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.navigation-wrapper .navMenu .navigation-shoppingcart {
  position: relative;
  margin-left: 10%;
}

.navigation-wrapper .navMenu .navigation-shoppingcart .items-in-shoppingcart {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  right: -20px;
  top: -10px;
  font-weight: bolder;
  font-size: 25px;
  color: white;
  background-color: #ff5d5d;
  border-radius: 100%;
  padding: 3px 12px 3px 12px;
  font-family: Arial, sans-serif;
}

.navigation-wrapper .navMenu .fa-braille {
  font-size: 2.5rem;
  color: #686868;
  padding: 20px;
}

.navigation-wrapper .navMenu .fa-mobile-screen-button {
  font-size: 2.5rem;
  color: #0045ad;
  padding: 20px;
}

.navigation-wrapper .navMenu .fa-laptop {
  font-size: 2.5rem;
  color: #0b6dff;
  padding: 20px;
}

.navigation-wrapper .navMenu .fa-xbox {
  font-size: 2.5rem;
  color: #0198d4;
  padding: 20px;
}

.navigation-wrapper .navMenu .fa-gamepad {
  font-size: 2.5rem;
  color: #00a79f;
  padding: 20px;
}

.navigation-wrapper .navMenu .fa-cart-shopping {
  font-size: 2.5rem;
  color: #686868;
  padding: 20px;
}

.navigation-wrapper .navMenu .logo,
.navigation-wrapper .navMenu #logoTextFont,
.navigation-wrapper .navMenu a {
  font-family: 'Nunito', sans-serif !important;
  color: white;
}

.navigation-wrapper .navMenu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white;
}

.navigation-wrapper .navMenu .selected {
  border-bottom: solid #bebebe 4px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 100px;
  background-color: #002c7e;
  position: relative;
}

.footer .footer-title {
  color: white;
  font-size: 40px;
  margin-bottom: 40px;
}

.footer .social-Media-Icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

.footer .facebook-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #3d6aff;
  border-radius: 50%;
  font-size: 2.5rem;
  height: 4.5rem;
  width: 4.5rem;
  color: white;
}

.footer .twitter-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #3e82b9;
  border-radius: 50%;
  font-size: 2.5rem;
  height: 4.5rem;
  width: 4.5rem;
  color: white;
}

.footer .instagram-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  border-radius: 50%;
  font-size: 2.5rem;
  height: 4.5rem;
  width: 4.5rem;
  color: white;
}

.footer a {
  display: block;
}

.footer .footer-copyright {
  font-style: italic;
  position: absolute;
  left: 3px;
  bottom: 1px;
  font-size: 18px;
  color: white;
}

.detailContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  width: 100%;
}

.detailContainer .detail-Card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #d17b7b;
  width: 100%;
  height: 500px;
}

.detailContainer .product-Detail-Picture {
  min-width: 100px;
  padding: 20px;
  height: 500px;
  width: 200%;
}

.detailContainer h2 {
  font-size: 40px;
  text-align: left;
}

.detailContainer .product-Detail-Desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: default;
      -ms-flex-align: default;
          align-items: default;
  -webkit-box-pack: default;
      -ms-flex-pack: default;
          justify-content: default;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: white;
  padding: 20px;
}

.detailContainer .product-Detail-Desc .description {
  height: 100%;
  padding: 20px;
}

.detailContainer .product-Detail-Desc-Bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  justify-self: flex-end;
}

.detailContainer .product-Detail-Desc-Bottom .price-Container-Detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 40px;
  text-align: center;
  font-size: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: white;
  background-color: #2a74ff;
  font-weight: bold;
}

.detailContainer .product-Detail-Desc-Bottom .price-Container-Detail p {
  display: block;
}

.detailContainer .product-Detail-Desc-Bottom .button-Purchase {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: white;
  background-color: #003aa7;
  padding: 20px;
  font-size: 20px;
  height: 100%;
  width: 150px;
  cursor: pointer;
}

@media only screen and (min-width: 992px) {
  .detailContainer {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

main.form-main {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: red;
  min-height: 100%;
  width: 100%;
}

main.form-main .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background-color: white;
  overflow: hidden;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

main.form-main .form-container .detail-section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

main.form-main .form-container .detail-section h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
  font-size: 30px;
}

main.form-main .form-container .detail-section .order-item-form {
  background-color: white;
}

main.form-main .form-container .detail-section .order-item-form .mini-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 20px;
  font-size: 12px;
  background-color: white;
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
  border-bottom: #d6d6d6 solid 2px;
}

main.form-main .form-container .detail-section .order-item-form .mini-container .mini--product-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 170px;
  background-color: white;
}

main.form-main .form-container .detail-section .order-item-form .mini-container .mini--product-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #2a74ff;
  color: white;
  height: 100%;
  width: 200px;
  margin-left: 20px;
  font-size: 18px;
}

main.form-main .form-container .detail-section .order-item-form .mini-container .mini--product-amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  padding: 10px;
  margin-left: 20px;
}

main.form-main .form-container .detail-section .mini--full-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
  font-weight: bold;
}

main.form-main .form-container .detail-section .mini--full-price p {
  font-size: 20px;
}

main.form-main .form-container .detail-section .mini--full-price h3 {
  font-size: 25px;
}

main.form-main .form-container .form-section {
  background-color: white;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

main.form-main .form-container .form-section h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
  font-size: 30px;
}

main.form-main .form-container .form-header {
  background-color: white;
  border-bottom: px solid black;
  padding: 20px 40px;
}

main.form-main .form-container form {
  height: auto;
  width: 100%;
  background-color: white;
  padding: 20px 20px;
}

main.form-main .form-container form .form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

main.form-main .form-container form .form-control input,
main.form-main .form-container form textarea {
  border: 2px solid black;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

main.form-main .form-container form .form-control i {
  position: absolute;
  right: 12px;
  top: 12px;
  visibility: hidden;
}

main.form-main .form-container form .form-control small {
  position: absolute;
  visibility: hidden;
}

main.form-main .form-container form .form-control.success input {
  border-color: green;
}

main.form-main .form-container form .form-control.error input {
  border-color: red;
}

main.form-main .form-container form .form-control.success i.fa-check-circle {
  visibility: visible;
  color: green;
}

main.form-main .form-container form .form-control.error i.fa-exclamation-circle {
  visibility: visible;
  color: red;
}

main.form-main .form-container form .form-control.error small {
  visibility: visible;
  color: red;
}

main.form-main .form-container form button {
  background-color: #2a74ff;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #fff;
}

main.form-main .form-container form button:hover {
  cursor: pointer;
  background-color: black;
}

main.form-main .form-container form button:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

main.form-main .form-container #formText-area {
  resize: none;
}

main.form-main .form-container #formPhone-number::-webkit-outer-spin-button,
main.form-main .form-container #formPhone-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

main.form-main .form-container #formPostalcode::-webkit-outer-spin-button,
main.form-main .form-container #formPostalcode::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hide {
  display: none;
}

.reciept-wrapper {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-top: 2px solid #1b63ff;
}

.reciept-wrapper .reciept-div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-right: 2px solid #c7c7c7;
  padding: 30px;
}

.reciept-wrapper .reciept-div p {
  font-size: 22px;
  padding-top: 5px;
}

.reciept-wrapper .reciept-div .first-p {
  padding-top: 10px;
}

.reciept-wrapper .reciept-div h3 {
  text-align: left;
  font-size: 30px;
  padding-bottom: 10px;
}

.reciept-wrapper .reciept-second-div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 30px;
}

.reciept-wrapper .reciept-second-div h3 {
  font-size: 30px;
  margin-bottom: 20px;
}

.reciept-wrapper .reciept-second-div p {
  font-size: 22px;
  padding-top: 5px;
}

.reciept-wrapper .reciept-second-div .recipe-bottom-product {
  padding-bottom: 15px;
}

@media only screen and (max-width: 550px) {
  #shoppingCartHead {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #productListHead {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .search-Div {
    margin-top: 9px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .search-Div .search-field {
    padding: 9px;
  }
  .search-Div button {
    margin-top: 9px;
    padding: 9px;
  }
}

.shopping-Cart-List {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  background-color: #a7a7a7;
}

.div-Empty-Cart {
  margin-top: 50px;
  text-align: center;
}

.hide {
  display: none;
}

.shopping-Cart-Head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 30px;
  background-color: #2a74ff;
  color: white;
  height: 150px;
  width: 100%;
  text-align: center;
}

.shopping-Cart-Main {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 20px;
  min-height: 500px;
  background-color: white;
}

.shopping-Cart-Footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 30px;
  height: 150px;
  width: 100%;
  text-align: center;
  background-color: white;
}

.shopping-Cart-Footer .footer-Content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
  width: 100%;
  background-color: white;
}

.shopping-Cart-Footer .total-Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
  font-weight: bold;
}

.shopping-Cart-Footer .total-Container .total {
  margin-left: 20px;
}

.shopping-Cart-Footer a {
  height: 100px;
  width: 200px;
  z-index: 1;
  display: block;
}

.shopping-Cart-Footer a .order-Button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
  display: block;
  color: white;
  background-color: #2a74ff;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.product-Card-ShoppingCart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 20px;
  font-size: 12px;
  background-color: white;
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
  border-bottom: #d6d6d6 solid 2px;
}

.product-Card-ShoppingCart .product-ShoppingCart-Image {
  height: 100%;
  width: 100px;
}

.product-Card-ShoppingCart h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 170px;
  font-size: 17px;
  background-color: white;
}

.product-Card-ShoppingCart .product-ShoppingCart-Price {
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #2a74ff;
  color: white;
  height: 100%;
  width: 200px;
}

.product-Card-ShoppingCart .product-ShoppingCart-Price p {
  margin-right: 5px;
}

.product-Card-ShoppingCart .amount-Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 17px;
  padding: 10px;
  margin-left: 20px;
}

.product-Card-ShoppingCart .button-Div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  background-color: #2a74ff;
  width: 50px;
  margin-left: 20px;
  border-radius: 10px;
}

.product-Card-ShoppingCart .button-Div .plus-Minus-Buttons {
  border-radius: 10px;
  color: white;
  background-color: #2a74ff;
  font-weight: bold;
  display: block;
  font-size: 20px;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.product-Card-ShoppingCart .button-Div .plus-Minus-Buttons:hover {
  background-color: white;
  color: black;
}

.trash-Can {
  color: white;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  padding: 10px;
  background-color: #003aa7;
}

.trash-Can .fa-trash-can {
  color: white;
  display: block;
  margin-left: 10px;
}

.trash-Can a {
  height: 100%;
  width: 100%;
}

.trash-Can:hover {
  color: #2a74ff;
  cursor: pointer;
}
/*# sourceMappingURL=styles.css.map */