*{
  box-sizing: border-box;
  text-decoration: none;
  margin:0;
  padding:0;
  list-style: none;
}
button{
  outline: none;
  border: none;
}


main{
  width: 100%;

}

body, html {
  height: 100%;
}



